:root{
    --header: #0F293B;
    --main: #152F4C;
    --claroTurque: #1B4865;
    --hoverColor: #2F4E69;
    --celeste: #7293A6;
    --colorText: #f5f5f5;
    --violeta: #a13ecf;
    --hoverColorSecondary: rgb(171, 104, 202);
    --font1: 'Yusei Magic', sans-serif;
    --font2: 'Monda', sans-serif;
}
/* ESTILOS ASIDE */

.big-aside{
   /*  width: 20%; */
    height: 100vh;
    background-color: var(--header);
    color: var(--colorText);
    padding: 8px;

}
.aside-first-title{
    display: flex;
    justify-content: center;
    font-size: 18px;    
}
.aside-imagen-main {
    height: 100%;
}



/* ESTILOS URL,  FONDO Y BOTON REESTABLECER IMAGEN */

.url-imagen, #fondo-select, #btn-imagen-reset, #top-text, #bottom-text, #text-font, #text-font-size, .btn-contorno, #space-text, #interline-text{
    background-color: var(--claroTurque); 
    font-family: var(--font2) ;
    color: var(--colorText);
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 27px;
    padding: 5px;
    margin: 2px;
    outline: none;
}
.url-imagen:focus, #fondo-select:hover, #btn-imagen-reset:hover, #top-text:hover, #bottom-text:hover, #text-font:hover, #text-font-size:hover, #btn:hover, .btn-contorno:hover, #space-text:hover, #interline-text:hover, .btn:hover{
    background-color: var(--hoverColorSecondary);
    transition: 0.5s;
}
#top-text, #bottom-text{
    height: 2.3em;
}

.imagen-fondo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/********** ESTILOS DE LA PALETA DE COLORES ****************/

.input-color{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: var(--claroTurque);
    padding: 1px;
    border-radius: 5px;
    margin: 1px;
}

input[type="color"] {
    width: 22px;
    height: 22px;
    background-color: transparent;
    outline: none;
    border: none;
}
.valor-texto{
    color: var(--colorText);
    font-family: var(--font2);
    font-size: 12px;
    /* width: 3.5em; */
    width: 50px;
}

    /* ****************** FILTROS  ****************************
    */

.imagen-filter-container{
    width: 100%;
    height: 25em;
}
.imagen-filter{
    height: 25em;
}

.aside-second-title{
    margin: 5px 0px;
    font-size: 12px;
}
label{
    font-size: 10px;
    font-family: var(--font2);
    height: 0px;
}
.imagen-range{
    height: 17px;
    display: block;
}
input[type='range']{
    width: 100%;
    height: 8px;
    appearance: none;
    outline: none;
    background-color: var(--hoverColor);
    border-radius: 10px;

}
input[type='range']:focus{
    background-color: var(--celeste);
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;  
}
  
    input[type=range]::-webkit-slider-thumb {
        background-color: var(--violeta);
        width: 14px;
        height: 14px;
        border: 3px solid var(--violeta);
        border-radius: 50%;
    }
      
#btn-imagen-reset{
    background-color: var(--violeta);
    margin-top: 10px;
}

    /************************** FUENTES *******************
    */

.font-align{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#text-font-size{
    width: 50%;
}
.btn-container{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    background-color: var(--claroTurque);
    color: var(--colorText);
    width: 25%;
    border: none;
    border-radius: 5px;
}

 /******************** COLOR Y FONDO DEL TEXTO **************
    */

.container-color-text{
    display: flex;
    flex-direction: column;
}
.second-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
 .third-container{
    margin: 3%;
}

/************************** CONTORNOS *********************
*/

.container-btn-contorno{
    display: flex;
    justify-content: space-between;
}
.btn-contorno{
    background-color: var(--claroTurque); 
    font-family: var(--font2) ;
    color: var(--colorText);
    border-radius: 5px;
    border: none;
    width: 32%;
    height: 30px;
    margin: 3px;
    outline: none;
    padding: 2px;
}


/*********************** ESTILOS DEL BOTON CLOSE ****************/

.container-btn-close{
    display: flex;
    justify-content: flex-end;
}
#aside-imagen-close{
    display: none;
}
.aside-imagen-close{
    /* width: 23px; */
    font-size: 14px;
}
.aside-imagen-close:hover{
    background-color: var(--hoverColor);
}

/* MEDIA QUERIES */