@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Monda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header: #0F293B;
    --main: #152F4C;
    --claroTurque: #1B4865;
    --hoverColor: #2F4E69;
    --celeste: #7293A6;
    --colorText: #f5f5f5;
    --violeta: #a13ecf;
    --hoverColorSecondary: rgb(171, 104, 202);
    --font1: 'Yusei Magic', sans-serif;
    --font2: 'Monda', sans-serif;;
}
body{
    font-family: var(--font1);
    width: 100vw;
    height: 100vh; 
    display: flex;
}
.first-section{
    width: 100%;
   /*  height: 40em; */
}
header{
    background-color: var(--header);
    color: var(--colorText);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 18%; */
    width: 100%;
}
.header-title{
    font-size: 40px;
    margin-top: 5px;
}
.header-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.nav-items{
    padding: 5px;
    margin: 5px;
}
.far, .fas{
    margin: 5px;
}
.nav-items:hover {
    background-color: var(--hoverColor);
    /* padding: 5px; */
    border-radius: 10px;
    cursor: pointer;
}
main{
    background-color: var(--main);
    color: var(--colorText);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.main-meme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 33rem;
    width: 33rem;
    background-color:#111111;
}
.meme-img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.top-title, .bottom-title{
    width: 100%;
    min-height: 90px;
    max-height: 120px;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    color: #111;
}
.btn-download{
    font-family: var(--font2);
    color: var(--colorText);
    margin: 2%;
    padding: 1%;
    background-color: #1DB954;
    border-radius: 5px;
    border: none;
}
.btn-download:hover{
    background-color: #1b5e20;
    transition: 0.3s;
}

/* MEDIA QUERIES */

/* @media (max-width: 400px){
    .header-title {
        font-size: 25px;
    }
    .nav-items{
        margin: 5px;
    }
} */